<div growl></div>
<form id="login-form" class="login" method='get' novalidate=''>
    <p class="login__title">Zaloguj się <br><span class="login-edition">witamy w moodies.pl</span></p>
    <div class="field-wrap">
        <input type='text' placeholder='Nazwa użytkownika' name='user-email' class="login__input" ng-model="AuthorizationUser.UserLogin.Login">
        <input type='password' placeholder='Hasło' name='user-password' class="login__input" ng-model="AuthorizationUser.UserLogin.Password">
        <!-- <input type='checkbox' id='#informed' class='login__check styled'>
        <label for='#informed' class='login__check-info'>zapamietaj mnie</label> -->
    </div>
    <div class="login__control">
        <button type='submit' class="btn btn-md btn--warning btn--wider"
        ng-disabled="AuthorizationUser.isDisabled" ng-click="AuthorizationUser.AuthorizationRequest(AuthorizationUser.UserLogin.Login, AuthorizationUser.UserLogin.Password)">Zaloguj</button>
        <a ui-sref="userRegister" class="btn btn-md btn--warning btn--wider">Rejestracja </a>
        <a ui-sref="retriveUserAccount" class="login__tracker form__tracker">Nie pamiętasz hasła?</a>
    </div>
</form>
<div class="clearfix"></div>
<div id="favspinner" class="hidden">
<span us-spinner spinner-key="spinner-fav" spinner-start-active="true"></span>
</div>
