<footer class="footer-wrapper footer-wrapper--mod">
  <section class="container">
                      <div class="col-xs-12 col-md-6">
                          <div class="footer-info">
                              <p class="heading-special--small">moodies.pl<br><span class="title-edition">Twoja wyszukiwarka filmów</span></p>
                              <div class="clearfix"></div>
                              <p class="copy">© moodies.pl, 2017. All rights reserved.</p>
                          </div>
                      </div>
                  </section>
</footer>
