<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <targets>
    <target name="logfile" xsi:type="File" fileName="${basedir}\APILog\${date:format=yyyy-MM-dd}-api.log" layout="${time:format=hh:mm:ss}[${level}] ${message}" />
  </targets>

  <rules>
    <!-- jesli potrzebujemy bardzo dokladnych logow dla danego komponentu to tutaj do deklarujemy np name="API.Controller.*"
    level Trace to bardzo dokladne logi
    -->
    <logger name="SomeNamespace.Component.*" minlevel="Trace" writeTo="logfile" final="true" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>